<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <!-- dobavqme ruchno v head po tozi nachin imame static access do css-te -->
    <link rel="stylesheet" href="/css/main.css">
</head>


<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
    </main>
</body>

</html>

<!-- izpolzvame pug, zatova premestvame vsichko v nashiq shop.pug file  -->


<!-- shop.pug  zapiski, premestih gi tuk zashtoto v shop.pug faila ne mi pozvolqva i dava error ako vmukna zapiski -->
<!--                     //-    prepisali sme vsichko tova ot shop.html faila
                    //- i za da raboti otivame v papka routes sled tova shop.js i renderirame nashiq pug file a ne html file , po tozi nachin -  res.render('shop') // through pug  -->