<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= addProductTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- dobavqme ruchno v head po tozi nachin imame static access do css-te -->
   