.footer-container>hr {
    border: 1px solid
}
 
.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-links{
    display: flex;
    gap:4rem;
}

.social-links>img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}
